# Summary of PRE

This notebook contains a list of Python methods that were introduced in the PRE programming exercises.

### Expressions

In [1]:
(1 + 2) * 3  - 4

5

In [2]:
'a' + 'b' + ' ' + 3*'c'

'ab ccc'

### Variables and assignments

In [3]:
x = 2*7 + 5.5
x

19.5

In [4]:
y = x + 2
y

21.5

In [5]:
type('one thousand')

str

In [6]:
type(1001)

int

In [7]:
type(x)

float

### Comparison operators

In [8]:
42 == 40 + 3

False

In [9]:
x == 19.5

True

In [10]:
x != 20

True

In [11]:
x < 20

True

In [12]:
x > 20

False

In [13]:
19 < x <= 19.5 < 20

True

In [14]:
x >= 19

True

### Logical operators

In [15]:
True and False

False

In [16]:
True or False

True

In [17]:
not 5 == 7

True

In [18]:
not (1 < 2 and 3 <= 2)

True

### Lists

In [19]:
[1, 2, 3]

[1, 2, 3]

In [20]:
['a', 'b', 'c']

['a', 'b', 'c']

In [21]:
[['a', 1], ['b', 2]]

[['a', 1], ['b', 2]]

In [22]:
l = ['a','b','c']
l

['a', 'b', 'c']

In [23]:
l.append('d')
l

['a', 'b', 'c', 'd']

In [24]:
[ 2*n for n in [0, 1, 2, 3, 4] ]

[0, 2, 4, 6, 8]

In [25]:
[ 2*n for n in range(3, 5) ]

[6, 8]

In [26]:
len('abc')

3

In [27]:
len(l)

4

In [28]:
[ len(w) for w in ['cat', 'dog', 'horse'] ]

[3, 3, 5]

In [29]:
'a' in l

True

In [30]:
'x' in l

False

In [31]:
l[0]

'a'

In [32]:
l[1]

'b'

In [33]:
l[-1]

'd'

In [34]:
v = [101, [201, 202, 203, 204], 102]
v[1][2]

203

In [35]:
l[1:3]

['b', 'c']

In [36]:
l[:2]

['a', 'b']

In [37]:
l[2:]

['c', 'd']

In [38]:
l[-3:]

['b', 'c', 'd']

In [39]:
l[3] = 'z'
l

['a', 'b', 'c', 'z']

### Dictionaries

In [40]:
age = {"Alice": 19, "Bob": 23, "Eve": 37, "Mallory": 9}
age

{'Alice': 19, 'Bob': 23, 'Eve': 37, 'Mallory': 9}

In [41]:
{"Name": "Bob", "Age": 24, "Height": 181.7, 1: "Amsterdam", 2: "London"}

{'Name': 'Bob', 'Age': 24, 'Height': 181.7, 1: 'Amsterdam', 2: 'London'}

In [42]:
"Alice" in age

True

In [43]:
"Peter" in age

False

In [44]:
len(age)

4

In [45]:
age["Alice"]

19

In [46]:
age["Alice"] = 20
age

{'Alice': 20, 'Bob': 23, 'Eve': 37, 'Mallory': 9}

In [47]:
age["Tom"] = 67
age

{'Alice': 20, 'Bob': 23, 'Eve': 37, 'Mallory': 9, 'Tom': 67}

### Function calls

In [48]:
len(l)

4

In [49]:
type(l)

list

In [50]:
sum([1, 2, 3])

6

In [51]:
pow(2, 10)

1024

In [52]:
type(42)

int

In [53]:
str(42)

'42'

In [54]:
type(str(42))

str

In [55]:
print('This is an example of printing a string with a number', str(42))

This is an example of printing a string with a number 42

### If statement

In [56]:
if len(l) > 4:                    
    s = 'list l is has more than 4 elements' 
elif len(l) == 4:                 
    s = 'list l has 4 elements'    
else:                        
    s = 'list l has fewer than 4 elements'   
s

'list l has 4 elements'

### For loop

In [57]:
sum_so_far = 0

for number in [1, 2, 3, 4]:
    sum_so_far = sum_so_far + number
    print("The sum so far is: ", sum_so_far)
    
sum_so_far

The sum so far is:  1
The sum so far is:  3
The sum so far is:  6
The sum so far is:  10

10

### Comments

In [58]:
# this is an example of a comment
x = 1       # this is another comment