In [1]:
#// BEGIN_TODO [Author] Name, Id.nr., Date, as strings (1 point)

AUTHOR_NAME = 'Daniel Tyukov'
AUTHOR_ID_NR = '1819283'
AUTHOR_DATE = '2023-02-05'

#// END_TODO [Author]

AUTHOR_NAME, AUTHOR_ID_NR, AUTHOR_DATE

('Daniel Tyukov', '1819283', '2023-02-05')

## 4. Expressions

An alternative to using a _literal_ for denoting a value
is to _compute_ the desired value
through a program fragment,
in particular, through an **expression**.
Such expressions can involve literals, **operators**,
**variables**, and/or **function calls** (explained below).

For instance, here is _one thousand and one_ written as `int` literal:

In [2]:
1001

1001

And here is an expression
that yields this same `int` value,
using the addition operator `+`:

In [3]:
1000 + 1

1001

Which values can be used with which operators depends on the types of the values involved.

However, you can convert the value of one type to another type. For example, the line below converts the integer value `1001` to the string value `'1001'`:

In [4]:
str(1001)

'1001'

Some operators are defined for different types. Their behavior depends on the type of involved values. For example, the `+` operator on string values represents string *concatenation* (joining two or more strings together).

In [5]:
'1001' + '2'

'10012'

### Arithmetic Operators

In Python, one can use the common **arithmetic operators** on
integers and floating-point numbers:

* `+` and `-` for addition and subtraction/negation
* `*` and `/` for multiplication and division
* `**` for exponentiation, e.g. `2**3` stands for $2^3$
* `//` and `%` for integer division and remainder

Notes:
* The usual **binding precedences** apply.  
    From strongest to weakest, the order is:

    * exponentiation
    * negation (unary minus) 
    * multiplication, division, and remainder
    * addition and subtraction

* Division using `/` always returns a `float` (also when the arguments are  of type `int`, e.g. `6/3` will result in `2.0` and not `2`).

* Integer division `//` returns an `int`, rounding down the value (e.g. `100//101` will result in `0`).

* Floating-point arithmetic is inherently not exact;
    it has **limited precision** due to rounding. This topic is outside the scope of this course, see [Floating point arithmetic](https://en.wikipedia.org/wiki/Floating-point_arithmetic) for more details.
    
**Parentheses** are used for grouping regardless of binding precedence:

In [6]:
1 + 2 * 3 - 4

3

In [7]:
(1 + 2) * 3  - 4

5

### String Operators

The operators `+` and `*` can also be applied to strings,
to **join** and **replicate** them: 

* `'abc' + "xyz"` equals `'abcxyz'`
* `3 * 'ha'` and `'ha' * 3` and `'ha' + 'ha' + 'ha'` all equal `'hahaha'`

#### Exercise 4.a

Write an expression to evaluate the product of $1903$ and $22302$.

> **Important:** write your answer between the `BEGIN_TODO` and `END_TODO` lines. This holds for all your answers, in all notebooks in this course!

In [8]:
#// BEGIN_TODO [PRE_4a] Product evaluation (1 point)

1903 * 22302

#// END_TODO [PRE_4a]

42440706

#### Exercise 4.b

Write **one** expression to evaluate the formula $N(N+1)/2$ for $N=100$;
this gives the sum of the integers from 1 through 100.
Make sure that the result is an **integer** and not a _floating-point number_.  

> **Hint:** Use integer division.

In [9]:
#// BEGIN_TODO [PRE_4b] Sum of integers 1 through 100 (1 point)

100*(100+1)//2

#// END_TODO [PRE_4b]

5050

#### Exercise 4.c

Write an expression to determine the last two digits of $2^{100}$, using the remainder operation.

> **Hint:** The last two digits of a number <code>n</code> are the remainder after dividing that number by 100: `n % 100`.

In [10]:
#// BEGIN_TODO [PRE_4c] Last two digits of 2 to the power 100 (1 point)

2**100 % 100

#// END_TODO [PRE_4c]

76

#### Exercise 4.d

Write _two_ **floating-point expressions** (*on one line, separated by a comma*) to compute

* $1.0 + 10^{-16} + 10^{-16} + 10^{-16}$
* $1.0 + \left(10^{-16} + 10^{-16} + 10^{-16}\right)$

and observe the results.  What do you notice?

> **Hints:**
> - Use scientific notation with an `e`, where $X*10^Y$ is written as `XeY`, e.g. $10^{2}$ is written as `1e2`, $5*10^{-3}$ is written as `5e-3`.
> - The expressions involve the same values and operators; they differ only in the order of evaluation.
> - This illustrates one concern with floating-point arithmetic.

In [11]:
#// BEGIN_TODO [PRE_4d] Two floating-point additions using different evaluation orders (1 point)

1.0 + 1e-16 + 1e-16 + 1e-16, 1.0 + (1e-16 + 1e-16 + 1e-16)

#// END_TODO [PRE_4d]

(1.0, 1.0000000000000002)

#### Exercise 4.e

Write a **string expression** to construct the 80-character string consisting of
ten minuses (`-`) followed by ten pluses (`+`), repeated four times. Use the `+` and `-` characters only once in the expression.

> **Hint:** Use operators for joining and replicating strings; don't forget parentheses.

In [12]:
#// BEGIN_TODO [PRE_4e] Ten minuses followed by ten pluses, repeated four times (1 point)

('-' * 10 + '+' * 10) * 4

#// END_TODO [PRE_4e]

'----------++++++++++----------++++++++++----------++++++++++----------++++++++++'

## 5. Variables and Assignments

A value can be given a name through an **assignment** with the syntax

```python
name = expression
```

where `name` is an **identifier**
consisting of letters, digits, and/or underscores, *not starting with a digit*, for example:

In [13]:
x = 2 * 7 + 5

Such a name is also known as a **variable**.

> **Note:** Some identifiers are _predefined_ (addressed below under [Python syntax](#Python-syntax))
> and cannot be used for naming, e.g. you should never define a variable named `int`.

At each moment during execution, a defined variable has one specific value. The value can be inspected by writing the variable name in the last row of a code cell.

In [14]:
x

19

Over time, the value of a variable can change, e.g., through assignment statements.

In [15]:
x = 2 * 3.1415926
x

6.2831852

Variables can be used in expressions, and are replaced by their current value when the expression is evaluated.

In [16]:
y = x + 2
y

8.2831852

The semantics of the assignment statement

```python
name = expression
```

is

1. evaluate the expression;
1. bind (assign) the resulting value as a new value to the named variable.

> **Note**:
> 1. `=` is not the same as the equality operator (Python uses `==` for that, see below).
> 1. `=` is not symmetric: `v = expr` and `expr = v` are not the same thing
>    (in fact, `expr = v` is often invalid syntax, e.g., `1 + 1 = v` makes no sense).
>
> But we are stuck with this choice.

#### Exercise 5.a

Below we define variables `pi` and `r`, representing an approximation of the number $\pi$ and the radius of a circle. Use these variables to compute the area of a circle with radius `r` and assign it to the variable `circle_area`.

In [17]:
pi = 3.1415926
r = 4

#// BEGIN_TODO [PRE_5a] Circle area (1 point)

circle_area = pi * r**2

#// END_TODO [PRE_5a]

circle_area

50.2654816

### Type of a Variable or Expression

The built-in function **`type(v)`** returns the type of a value `v`. For example, the type of a string value is `str`:

In [18]:
type('one thousand')

str

and the type of an integer value is `int`:

In [19]:
type(1001)

int

#### Exercise 5.b

Using the built-in function `type()`,
determine the type of the string literal `'100'`.

In [20]:
#// BEGIN_TODO [PRE_5b] Type of '100' (1 point)

type('100')

#// END_TODO [PRE_5b]

str

#### Exercise 5.c

Let us define a variable `x` equal to 3.1415926:

In [21]:
x = 3.1415926

Using the built-infunction `type()`, determine the type of variable x.

In [22]:
#// BEGIN_TODO [PRE_5c] Type of a variable (1 point)

type(x)

#// END_TODO [PRE_5c]

float

## 6. More Expressions

### Comparison Operators

**Comparison operators** yield boolean values (i.e. `True` or `False`):

* `==` and `!=` for _equality_ and _inequality_ (`<>` cannot be used)
* `<` and `>` for _less than_ and _greater than_
* `<=` and `>=` for _less than or equal_ and _greater than or equal_ (`=<` and `=>` cannot be used)

Notes:

* Comparison operators apply to numbers, strings, and lists (but not to a mix).
* Avoid equality operators on floating-point numbers.  
    Reason: Floating-point arithmetic is inherently not exact.  
    Thus, we have `0.1 + 0.2 != 0.3`.
* For string comparison, the _lexicographic_ order is used.
* Comparison operators can be **chained**: `expr_1 <= expr_2 < expr_3`

#### Exercise 6.a

Write a **comparison expression** to compare `1 + 2` and `3` for equality,
and execute it.

In [23]:
#// BEGIN_TODO [PRE_6a] Is 1 + 2 equal to 3? (1 point)

1 + 2 == 3

#// END_TODO [PRE_6a]

True

#### Exercise 6.b

Write a **comparison expression** to compare `0.1 + 0.2` and `0.3` for equality,
and execute it.

In [24]:
#// BEGIN_TODO [PRE_6b] Are 0.1 + 0.2 and 0.3 equal? (1 point)

0.1 + 0.2 == 0.3

#// END_TODO [PRE_6b]

False

This shows that floating point arithmetic is not exact. Therefore, when comparing floating point numbers, you may specify an interval within which a number should lie.

#### Exercise 6.c

Write a **comparison expression** to verify that $0.1 + 0.2$ lies strictly between $0.299999$ and $0.300001$.  

> **Hint:** Use comparison operator chaining of the form `a < b < c`.

In [25]:
#// BEGIN_TODO [PRE_6c] Verify that 0.1 + 0.2 lies strictly between 0.299999 and 0.300001 (1 point)

0.299999 < 0.1 + 0.2 < 0.300001

#// END_TODO [PRE_6c]

True

#### Exercise 6.d

Write a **comparison expression** to verify that $10^{30}$ lies strictly between $2^{99}$ and $2^{100}$.

In [26]:
#// BEGIN_TODO [PRE_6d] Verify that 10 to 30 lies strictly between 2 to 99 and 2 to 100 (1 point)

2**99 < 10**30 < 2**100

#// END_TODO [PRE_6d]

True

### Logical Operators

**Logical operators** operate on boolean values:

* `and`, `or`, and `not` for conjunction, disjunction, and negation, and
* `if`-`else` for **conditional evaluation**.

```python
expression_1 if condition else expression_2
```

For example, `True and False` computes the conjunction of `True` and `False` and returns `False`, while `not a` computes the negation of the value stored in variable `a`. If you are negating a Boolean expression you can surround it in parentheses `not(expression)`.

Note:

* The logical operators bind _weaker_ than the other operators. Hence, you need parentheses when comparing the results of logical operators.
    
    * `a and b == c` &nbsp; is interpreted as &nbsp; `a and (b == c)` &nbsp; and _not_ as &nbsp; `(a and b) == c`

#### Exercise 6.e

Write a **logical expression**, for integers $a,b,c$ defined below, that computes if it is _not_ the case that: $a$ is less than $b$ and $c$ is greater or equal to $b$.

In [27]:
a = 4
b = 4
c = 3

#// BEGIN_TODO [PRE_6e] Logical expression with a, b, c (1 point)

not(a < b and c >= b)

#// END_TODO [PRE_6e]

True

## 7. Lists

### List Construction

List values must always be constructed through expressions.

**Square brackets** are used to construct list values containing a given sequence of elements:

* `[]`
* `[1, 2, 3]`
* `['a', 'b', 'c']`
* `[['a', 1], ['b', 2]]`

Observe that

* a list can have zero elements: `[]` is the **empty list**;
* a list can have a single element: `[0]`;
* not all elements in a list need to have the same type;
* a list can have other lists as elements.

Lists can be joined and replicated through `+` and `*`, just like strings.

#### Exercise 7.a

Write a **list expression** to construct a list consisting of the sequence of numbers: $1$, $2$, $1$, $2$, $1$, and $2$.

In [28]:
#// BEGIN_TODO [PRE_7a] Alternating list of three repetitions of 1, 2 (1 point)

[1, 2] * 3

#// END_TODO [PRE_7a]

[1, 2, 1, 2, 1, 2]

### List Comprehensions

Python provides an easy way to construct lists, called _list comprehensions_. As a first example, we want to create the list `[0, 2, 4, 6, 8]`. As you can see, this list contains elements `2 * n` for `n = 0, 1, 2, 3, 4`, i.e. `n` ranges over the integers from `0` to `5` (not inclusive). In Python, we can create this list by executing

In [29]:
[2 * n for n in [0, 1, 2, 3, 4]]

[0, 2, 4, 6, 8]

In general, a list comprehension has the following syntax:

```python
[expression for variable in range]
``` 

which iterates the `variable` over the elements in the `range`, computes an `expression` (containing the `variable`), and appends it to the list.

We can replace the range of `n` by any expression that returns a list (or in general a so-called _iterable_ object). For example, the requirement that `n` runs from `0` to `5` (not inclusive), i.e. that it runs through all integers in the interval $[0, 5)$, can be encoded by the expression `range(5)`.

In [30]:
[2 * n for n in range(5)]

[0, 2, 4, 6, 8]

We could let `n` run from `3` to `5` (not inclusive) by replacing `range(5)` by `range(3,5)`:

In [31]:
[2 * n for n in range(3,5)]

[6, 8]

We can iterate over any list. For example, we can use the `len()` function to get the length of a string, e.g.

In [32]:
len('abcd')

4

Given the following list

In [33]:
animal_list = ['dog', 'cat', 'horse', 'elephant']

we can get a new list containing the length `len(w)` of every word `w` in the list `animal_list` by

In [34]:
[len(w) for w in animal_list]

[3, 3, 5, 8]

We can even add a condition about which elements should be included in the list. For instance, we can make a new list consisting only of those elements of `animal_list` of length less than `4` by

In [35]:
[w for w in animal_list if len(w) < 4]

['dog', 'cat']

#### Exercise 7.b

Let again the `animal_list` be given by

In [36]:
animal_list = ['dog', 'cat', 'horse', 'elephant']

Use a **list comprehension** to construct a list containing the plural of each animal in the `animal_list` (i.e. the list should contain the following elements: `['dogs', 'cats', 'horses', 'elephants']`).

In [37]:
#// BEGIN_TODO [PRE_7b] Create list of plurals (1 point)

[animal + 's' for animal in animal_list]

#// END_TODO [PRE_7b]

['dogs', 'cats', 'horses', 'elephants']

#### Exercise 7.c

Use a list comprehesion to construct a list with $n^2$ for integers $n$ in the interval $[3, 10)$, but **do not include the term for** $n = 7$.

In [38]:
#// BEGIN_TODO [PRE_7c] Create list of squares, exclude 7 (1 point)

[ n**2 for n in range(3, 10) if n != 7 ]

#// END_TODO [PRE_7c]

[9, 16, 25, 36, 64, 81]

### Sequence Membership

Python provides convenient expressions to check whether an element does or does not occur in a sequence:

* `x in sequence`: returns whether `x` occurs in `sequence`.
* `x not in sequence`: returns whether `x` does not occur in `sequence`; short for `not (x in sequence)`.

#### Exercise 7.d

Write an **expression** to confirm that `'dog'` is an element of the `animal_list`.

In [39]:
#// BEGIN_TODO [PRE_7d] Whether "dog" is a member of preceding list (1 point)

'dog' in animal_list

#// END_TODO [PRE_7d]

True

### Indexing a Sequence

Sequences (strings and lists) can be **indexed**
to get an element at a specific position in the sequence.

Consider the following sequence `seq` as an example:

In [40]:
seq = ['a','b','c','d','e']

The sequence `seq` has five elements. Indeed, we can check the length of the sequence `seq` by using the `len()` function.

In [41]:
len(seq)

5

The index of every element is the position at which it appears in the sequence, **starting from index 0**. The index of the element `'a'` is **0**, the index of the element `'b'` is **1**, etc. In the English language, it is more common to refer to the element `'a'` as the first element of the sequence, and we will follow that convention as well. We can extract the **3rd** element of the sequence (i.e. the element at index 2) by evaluating

In [42]:
seq[2]

'c'

If you supply an index that is too large, you will get an `IndexError`.

Python has the useful feature that by supplying a negative index $-k$, it actually returns the element with index $n - k$, where $n$ is the length of the list. This way, `seq[-1]` will yield the last element of the list `seq`.

In [43]:
seq[-1]

'e'

When a list contains another list as an element, we say that one list is **nested** inside another list.
This is one way to represent tabular data and matrices.
To access elements in the _inner_ list, you need _two_ levels of indexing:

In [44]:
matrix = [101, [201, 202, 203, 204], 102]
matrix[1][2]

203

#### Exercise 7.e

Write an expression to get the sixth character of string `s`.

> **Note:** a space counts as a character.

In [45]:
s = 'Data Analytics'

#// BEGIN_TODO [PRE_7e] Sixth character of s (1 point)

s[5]

#// END_TODO [PRE_7e]

'A'

#### Exercise 7.f

Write an expression to get the last element from the list `t`.

In [46]:
t = [2, 'iab', 0]

#// BEGIN_TODO [PRE_7f] Last element of t (1 point)

t[-1]

#// END_TODO [PRE_7f]

0

#### Exercise 7.g

Write an expression to get the first character from the second element from the list `t`.

In [47]:
t = [2, 'iab', 0]

#// BEGIN_TODO [PRE_7g] First character of second element of t (1 point)

t[1][0]

#// END_TODO [PRE_7g]

'i'

### Slicing a Sequence

Consider again the sequence `seq`.

In [48]:
seq = ['a', 'b', 'c', 'd', 'e']

We can extract the **subsequence** from index **2** to (but not including!) index **4** by evaluating.

In [49]:
seq[2:4]

['c', 'd']

Note that we get a new sequence, the subsequence, only consisting of the elements of the original sequence at indexes **2** and **3**; the element with index **4** is _not included_. Such a subsequence consisting of elements with contiguous indices is called a **slice**. 

If you leave out one of the indices, the slice runs from the beginning or to the end. For instance, `seq[:3]` gives the subsequence consisting of the first three elements of the original list

In [50]:
seq[:3]

['a', 'b', 'c']

and `seq[2:]` gives the subsequence starting from index `2`.

In [51]:
seq[2:]

['c', 'd', 'e']

Negative indices are also allowed. As before, a negative index $-k$ gets replaced by $n-k$ where $n$ is the length of the list. This way, `seq[-2:]` gives the subsequence consisting of the last two elements of the original list.

In [52]:
seq[-2:]

['d', 'e']

#### Exercise 7.h

Write an expression to obtain the fourth to sixth (inclusive) characters of `s`.

In [53]:
#// BEGIN_TODO [PRE_7h] Fourth to sixth characters of s (1 point)

s[3:6]

#// END_TODO [PRE_7h]

'a A'

#### Exercise 7.i

Write an expression to obtain the first four characters of `s`.

In [54]:
#// BEGIN_TODO [PRE_7i] First four characters of s (1 point)

s[:4]

#// END_TODO [PRE_7i]

'Data'

#### Exercise 7.j

Write an expression to obtain the last nine characters of `s`.

In [55]:
#// BEGIN_TODO [PRE_7j] Last nine characters of s (1 point)

s[-9:]

#// END_TODO [PRE_7j]

'Analytics'

### Adding Elements to a List

We will now explain how to add elements to a list. Let us start with the following list `l`.

In [56]:
l = ['a','b','c']

We can add the element `'d'` to `l` by using the function `append()`.

In [57]:
l.append('d')
l

['a', 'b', 'c', 'd']

### Changing List Elements

Each element in a list can be considered a variable.
In that sense,
a list is a sequence of variables,
and list indexing is used to select a specific variable.

If we go back to our `seq` example

In [58]:
seq = ['a', 'b', 'c', 'd', 'e']

we can change the **4th** element of the list (the element at index **3**) into a `'z'` by executing the assignment

In [59]:
seq[3] = 'z'

Let us check the result

In [60]:
seq

['a', 'b', 'c', 'z', 'e']

Here are some further examples:

In [61]:
x = [1, 2, 3]
x[1] = 5
x

[1, 5, 3]

We can change elements in nested lists using multiple levels of indexing:

In [62]:
y = [['a', 1], ['b', 2]]
y[1][0] = 'c'
y

[['a', 1], ['c', 2]]

#### Exercise 7.k

Consider the list consisting of the elements `5`, `2`, `'X'`, and `1` (in this order;
it has been assigned to the variable `v`).  
Write a **list element assignment** to replace the third element by `10`.

In [63]:
v = [5, 2, 'X', 1]

#// BEGIN_TODO [PRE_7k] Assign 10 to third element of v (1 point)

v[2] = 10

#// END_TODO [PRE_7k]

v

[5, 2, 10, 1]

#### Exercise 7.l

Consider the list-of-lists `m` defined below, representing a well-known _magic square_.
The nested lists represent the rows, as is shown in this diagram:

<div>
<img src="attachment:magic-square.png" alt="Magic Square" align="center" width="150px">
</div>

Write two **expressions** (separated by a comma) to compute
the sum of the elements in the _first row_ and the sum of those in the _last column_.

In [64]:
m = [[8, 3, 4], [1, 5, 9], [6, 7, 2]]

#// BEGIN_TODO [PRE_7l] Sum of first row, sum of last column (1 point)

sum(m[0]), sum([row[-1] for row in m])

#// END_TODO [PRE_7l]

(15, 15)

## 8. Dictionaries

A dictionary is a collection of key-value pairs. In the following code cell, we construct a dictionary called `age`.

In [65]:
age = {'Alice': 19, 'Bob': 23, 'Eve': 37, 'Mallory': 9}
age

{'Alice': 19, 'Bob': 23, 'Eve': 37, 'Mallory': 9}

The dictionary `age` contains four key-value pairs. The strings `'Alice', 'Bob', 'Eve', 'Mallory'` are keys, and the integers `19, 23, 37, 9` are their corresponding values.

Dictionary values can be of any type. There are some restrictions on the allowed key types (they need to be immutable), but you can assume that most types used in this course are valid, _except for lists_. For example, the following dictionary combines keys and values of different types:

In [66]:
{'Name': 'Bob', 'Age': 24, 'Height': 181.7, 1: 'Amsterdam', 2: 'London'}

{'Name': 'Bob', 'Age': 24, 'Height': 181.7, 1: 'Amsterdam', 2: 'London'}

Dictionary keys are unique. Defining a dictionary with duplicate keys will keep the last value.

In [67]:
age = {'Alice': 19, 'Bob': 24, 'Eve': 37, 'Mallory': 9, 'Bob': 99}
age

{'Alice': 19, 'Bob': 99, 'Eve': 37, 'Mallory': 9}

### Dictionary Membership

Python provides convenient functions to check whether a key does or does not occur in a dictionary:

* `x in dictionary`: returns whether the key `x` occurs in `dictionary`.
* `x not in dictionary`: returns whether the key `x` does not occur in `dictionary`; short for `not (x in dictionary)`.

#### Exercise 8.a

Write an **expression** to confirm that `'Peter'` does _not_ occur in the `age` dictionary.

In [68]:
#// BEGIN_TODO [PRE_8a] 'Peter' is not a member of the age dictionary (1 point)

'Peter' not in age

#// END_TODO [PRE_8a]

True

### Indexing a Dictionary

The number of key-value pairs inside a dictionary can be retrieved using `len()`.

In [69]:
len(age)

4

You can look up a value in the dictionary by providing the corresponding key with square-bracket notation, similar to when you get a value in a list by providing an index. For example, we can retrieve Bob's age with:

In [70]:
age['Bob']

99

Sometimes we say that a dictionary _maps_ keys to their corresponding value.

#### Exercise 8.b

Retrieve Alice's age from the `age` dictionary.

In [71]:
#// BEGIN_TODO [PRE_8b] Retrieve a value from a dictionary (1 point)

age['Alice']

#// END_TODO [PRE_8b]

19

#### Exercise 8.c

Compute the average age of all the people in the `age` dictionary.

In [72]:
#// BEGIN_TODO [PRE_8c] Compute the average age of all the people in the age dictionary (1 point)

sum(age.values()) / len(age)

#// END_TODO [PRE_8c]

41.0

### Adding and Changing Dictionary Values

A value can be changed by assigning the new value to a particular key, using similar notation to lists. For example, we can change Bob's age with:

In [73]:
age['Bob'] = 25
age

{'Alice': 19, 'Bob': 25, 'Eve': 37, 'Mallory': 9}

A new key-value pair can be added to a dictionary by assigning the value to the new key.

In [74]:
age['Tom'] = 67
age

{'Alice': 19, 'Bob': 25, 'Eve': 37, 'Mallory': 9, 'Tom': 67}

#### Exercise 8.d

Add `'Charlie'` with age 7 to the `age` dictionary.

In [75]:
#// BEGIN_TODO [PRE_8d] Add 'Charlie' with age 7 to the age dictionary (1 point)

age['Charlie'] = 7

#// END_TODO [PRE_8d]

## 9. Function Calls

Python provides many useful functions, which operate on data. You have already encountered the `type()` and `len()` functions. A function has a *name*, it takes zero or more *arguments* and returns zero or more *return values*. Functions are called by specifying the function name and providing values for the arguments in brackets. For example, `sum(x)` calls the function with the name `sum`, with one argument `x`, and returns a number representing the sum of all elements in the list `x`. The following example sums up the elements in the list `[1, 5, -3, 4.2]`:

In [76]:
sum([1, 5, -3, 4.2])

7.2

You can supply variables instead of literal values as arguments.

In [77]:
y = [1, 5, -3, 4.2]
sum(y)

7.2

In the remainder of this course, you will come across many functions provided by Python itself or a library. You can get help on the functions using **Shift-Tab**. For example, look up what the `sum` function does:

In [78]:
sum

You will notice that the `sum` function takes two arguments: an `iterable` (which in this course you can consider being simply a list) and an optional positional argument `start`. Optional arguments are specified with `argument_name=default_value`, where `default_value` refers to the value the argument assumes if it is not explicitly specified. You supply optional positional arguments to a function call by providing their value.

In [79]:
sum(y, 10)

17.2

## 10. If Statement

Sometimes, you will only want to execute a piece of code if a certain _condition_ is satisfied, and run another piece of code otherwise. This is possible with an **if statement**.

The if statement has the following syntax:
```python
if condition:
    statements
elif condition:      
    statements      
else condition:      
    statements
```
where **`statements`** is a block of one or more statements **indented** to the same level. It has the following semantics:

1. evaluate the conditions one by one, and;
1. execute the statements corresponding to the first condition that evaluates to `True`.

For example, let us generate random numbers (as if it were to throw a dice). For that, we need to load a function from the library by executing the following cell:

In [80]:
from random import randrange

We can now get a random number from `0` up to (but not including) `10` with the expression:

In [81]:
randrange(0, 10)

7

You can execute the cell several times and you will see that the number changes.

In the following code cell, the variables `num1` and `num2` are assigned random integers from 0 to 10. The result of the next lines is that if `num2 > num1`, the variable `msg` gets assigned the string `'num2 is larger than num1'`. Else, if `num2 == num1`, the variable `msg` gets assigned `'num2 is equal to num1'`. Else, the variable `msg` gets assigned `'num2 is less than num1'`.

In [82]:
num1 = randrange(0, 10)
num2 = randrange(0, 10)

if num2 > num1:                    
    msg = 'num2 is larger than num1' 
elif num2 == num1:                 
    msg = 'num2 is equal to num1'    
else:                        
    msg = 'num2 is less than num1'   
    
num1, num2, msg

(5, 7, 'num2 is larger than num1')

You can execute the cell several times and you will see that the values of `num1`, `num2`, and `msg` change.

> **Notes:** 
> - The *condition* can be any logical expression (e.g. `5 < num1 and num1 < num2`).
> - The `elif` and `else` clauses are optional.

> **Important:** In Python indentation is very important. In these notebooks, we use 4 spaces for indentation. When you press TAB then 4 spaces are automatically inserted. The statements in the block following a condition (e.g. `msg = 'num2 is larger than num1'`) should be indented with 4 spaces relative to the condition (e.g. `if num2 > num1:`). In case a block contains more than one line, all the lines belonging to the block should be indented equally.

### Exercise 10.a

In the following code cell, `a` is assigned a random integer between 1 and 20 (not inclusive) and `b` is assigned a list of prime numbers between 1 and 20. Use an if statement to assign to the variable `c` the string `'prime'` if `b` contains `a` and `'not prime'` otherwise.

In [83]:
a = randrange(1, 20)
b = [2, 3, 5, 7, 11, 13, 17, 19]

#// BEGIN_TODO [PRE_10a] Prime numbers (1 point)

c = 'prime' if a in b else 'not prime'

#// END_TODO [PRE_10a]

str(a) + ' is ' + c

'10 is not prime'

Note the use of `str()` function to convert the integer `a` to a string, so that it can be concatenated to the remaining strings `' is '` and `c`.

## 11. For Loop

The **for loop** allows us to iterate over a list, i.e. to execute a set of statements for each element of a list. It has the following syntax:
```python
for x in list:      
    statements
```
where **`statements`** is a block of one or more statements **indented** to the same level. It has the following semantics:

1. assign elements from `list` to the variable `x` one by one, and;
1. execute the `statements` for each element assigned to `x`.

For example, let us define a list of numbers `number_list`.

In [84]:
number_list = [2, 5, 3, 8, 3, 10, 2, 4, 35, 6]

We can use a **for loop** to compute the sum of all elements in the list as follows:

In [85]:
sum_so_far = 0

for number in number_list:
    sum_so_far = sum_so_far + number
    print('The sum so far is: ', sum_so_far)
    
sum_so_far

The sum so far is:  2
The sum so far is:  7
The sum so far is:  10
The sum so far is:  18
The sum so far is:  21
The sum so far is:  31
The sum so far is:  33
The sum so far is:  37
The sum so far is:  72
The sum so far is:  78

78

The piece of code in the indented block is executed for each element in the list `number_list`.

The first time the block is executed, `number` equals `2`, the second time `number` equals `5`, and so on until `number` equals `6`. 

On line 4, the `sum_so_far` is incremented by `number`. 

After finishing the for loop, the variable `sum_so_far` is equal to sum of the numbers in `number_list`.

> **Important:** The statements in the block following the `for ... :` line should be indented with 4 spaces. In case a block contains more than one line, all the lines belonging to the block should be indented equally.

In this particular case, we can use a built-in function `sum()` to calculate the sum of all elements in the list.

In [86]:
sum(number_list)

78

### Exercise 11.a

Consider the following string

In [87]:
text = '''
       The mystery of the letter 'f' and the funky aspects of information processing of the human brain. 
       Could you tell me how often the letter 'f' appears in this fragment of text?
       '''

Use a **for loop** to count the number of times the character *f* appears in `text` above and assign it to the variable `f_count`.

> **Hint:** A string can be considered a list of characters, so `for x in s:` will iterate `x` over the characters in string `s`.

In [88]:
#// BEGIN_TODO [PRE_11a] Count letters f (1 point)

f_count = 0
for letter in text:
    if letter == 'f':
        f_count += 1

#// END_TODO [PRE_11a]

f_count

10

Did you arrive at the same number of `'f'`'s by counting yourself? Who do you trust?

### Exercise 11.b

Consider the following list

In [89]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

Use a **for loop** to iterate through list `numbers` and find those numbers that are divisible by 7. Assign those numbers to the list variable `divisible_by_7`.

> **Hint:** A number $x$ is divisible by $y$ if the remainder of the division of $x$ by $y$ is 0.

In [90]:
#// BEGIN_TODO [PRE_11b] Numbers divisible by 7 (1 point)

divisible_by_7 = []
for number in numbers:
    if number % 7 == 0:
        divisible_by_7.append(number)

#// END_TODO [PRE_11b]

divisible_by_7

[21, 987]

## 12. Comments for Documentation

Comments in Python start with a **`#`** character
and extend to the end of the line (their syntax).

In [91]:
# This is a comment

Comments are ignored during execution (their semantics).

We use comments to state the **goal** of a program fragment:

* the **assumptions** about its initial state,
    in particular, about its *input data*, and;
* the desired **effect** or **result**,
    in particular desired properties of its _output data_ in relation to the input data.

Example:

In [92]:
# assumption: a != 0  and  b ** 2 >= 4 * a * c
# result: x_1 and x_2 are approximate solutions to a * x ** 2 + b * x + c == 0

a = 1
b = 2
c = -3

discriminant = b ** 2 - 4 * a * c  # not negative
x_1, x_2 =  (-b + discriminant ** 0.5) / (2 * a), (-b - discriminant ** 0.5) / (2 * a)

x_1, x_2

(1.0, -3.0)

Comments are also used to document the **design** of a program:

* indicate structure
* explain why it works

> **Important:** Because we are working with *Jupyter notebooks*, we can use *markdown* cells to comment the code. In fact, this keeps the notebooks much more readable. Especially when the number of instructions to execute for one exercise gets larger, we strongly recommend that you follow a style with only a few lines per code cell, and *markdown* cells in between to comment on your code.
> You can turn a cell to _markdown_ mode by clicking on it and selecting Markdown in the toolbar above.

### Exercise 12.a

Comments can also be used to (temporarily) suppress the execution of a line of code.
Just prepend `#` in front of a line to suppress its execution
(this is also known as **commenting out** a line).
To undo this (also known as **uncommenting** a line) remove the `#`,
and make sure that the line starts at the proper level of indentation.

Consider the following Python code:

```python
a = b
#b = a + 3
a = c - 3
c = b + 4
b = a
```

* Copy this code into the next code cell (between the marker lines);
* **uncomment** the line that is *commented out*, and;
* **comment out** a single assignment statement to make the final execution result show `(0, 0, 3)`.

> **Hint:** Don't be afraid to experiment.

In [93]:
a = 1
b = 2
c = 3

#// BEGIN_TODO [PRE_12a] Comment out a line (1 point)

a = b
b = a + 3
a = c - 3
# c = b + 4
b = a

#// END_TODO [PRE_12a]

a, b, c

(0, 0, 3)

## 13. Errors

When learning to program you will invariably run into many errors. There is no recipe to avoid errors completely.
All engineers will need to learn how to deal with errors. To do so, we suggest you adhere to the following advice:

* carefully reread a program if you suspect an error;
* be critical of programs, especially your own (always question why you would trust them);
* provide a convincing argument for why a program design works (explain it to someone else);
* test your program fragments with carefully chosen inputs and inspect the outputs;
* build in automated tests to check expectations, and;
* when you detect an error, fix it.

You will find more information on reporting and diagnosing errors in the notebook `error-diagnosis.ipynb` inside the `support` folder.

> **Important:** Go through `error-diagnosis.ipynb` carefully and revisit it when running into errors later during the course!

## 14. Python Best Practices

Some common programming conventions (not only for Python) are:

1. Write (at most) one statement per line.
1. Write whitespace around operators.
1. Write one blank line between program fragments to indicate grouping.
1. Break down long expressions by assigning subexpressions to auxiliary variables.
1. Use **meaningful** names; improve the readability of names with **underscores**.
1. After defining a variable, **verify** its value.
1. Use each variable for **one purpose** and document that purpose in a comment.  
1. Don't reuse the same variable for a different purpose; rather, introduce a new variable.
    
These practices make a big difference for the human programmer:

* You will make fewer mistakes.
* If you do make mistakes, it will be easier to find them.
* If you cannot find them,
    then it will be easier for others to help you find them.

## 15. Exercise: Exam Grades


In the earlier exercises you were closely guided. In the following exercises we will put your knowledge to the test.

Note that these exercises may seem more difficult as you will need to work more indepedently. When you struggle with an exercise then go back to the corresponding earlier section and make sure you really understand the introduced concepts. Do not hesitate to experiment with your own code!


The following list contains the exam grades of a past course:

In [94]:
grades = [7, 4, 4, 4, 8, 6, 6, 6, 5, 8, 4, 5, 5, 7, 6, 7, 4, 7, 7, 7, 9, 8, 10, 6, 4, 7, 8, 5, 9, 6, 7, 6, 4, 4, 3, 8, 6, 9, 4, 8, 10, 6, 7, 4, 8]

### Exercise 15.a

Compute the *mean* of the grades and assign it to the variable `mean_grades`.

> **Hint:** Recall the definition of a *mean* from the EDA lecture.

In [95]:
#// BEGIN_TODO [PRE_15a] Compute the mean (2 point)

mean_grades = sum(grades) / len(grades)

#// END_TODO [PRE_15a]

mean_grades

6.288888888888889

### Exercise 15.b

Compute the *sample standard deviation* of the grades and assign it to the variable `std_grades`.

> **Hint:** Recall the definition of a *sample standard deviation* from the EDA lecture. Try using list comprehension. The square root can be computed using the `**` operator, e.g. using `x**0.5` for $\sqrt{x}$.

In [96]:
#// BEGIN_TODO [PRE_15b] Compute the sample standard deviation (3 point)

std_grades = (sum([(grade - mean_grades) ** 2 for grade in grades]) / (len(grades) - 1)) ** 0.5

#// END_TODO [PRE_15b]

std_grades

1.8168682123396023

### Exercise 15.c

Count the number of times that each grade in `grades` occurs in `grades` and store the result in a dictionary `count`, where the grades are the dictionary keys (as integers) and their counts are the corresponding values.

For example, for a list of grades `[8, 6, 7, 8, 7]` the dictionary should contain `{8: 2, 6: 1, 7: 2}`.

> **Hint:** Try using a for loop.

In [97]:
#// BEGIN_TODO [PRE_15c] Count the grades (3 points)

count = {grade: grades.count(grade) for grade in grades}

#// END_TODO [PRE_15c]

count

{7: 9, 4: 10, 8: 7, 6: 9, 5: 4, 9: 3, 10: 2, 3: 1}

### Exercise 15.d

Look at the `count` dictionary in <span class="reference" ref="exercise_count"><a href="#exercise_count">Exercise 15.c</a></span>, find the *mode* of the grades and assign it to the variable `mode_grades`.

For this exercise you can simply look up the value and do not have to compute it programmatically.

> **Hint:** Recall the definition of a <i>mode</i> from the EDA lecture.

In [98]:
#// BEGIN_TODO [PRE_15d] Find the mode (1 point)

mode_grades = max(count, key=count.get)

#// END_TODO [PRE_15d]

mode_grades

4

### Exercise 15.e

Scale the grades in `grades` between 0 and 100 and assign the list to the variable `grades_percent`.

> **Hint:** For example, grade 7 should be scaled to 70. Try using list comprehension.

In [99]:
#// BEGIN_TODO [PRE_15e] Scale the grades (2 point)

grades_percent = [grade * 10 for grade in grades]

#// END_TODO [PRE_15e]

grades_percent

[70,
 40,
 40,
 40,
 80,
 60,
 60,
 60,
 50,
 80,
 40,
 50,
 50,
 70,
 60,
 70,
 40,
 70,
 70,
 70,
 90,
 80,
 100,
 60,
 40,
 70,
 80,
 50,
 90,
 60,
 70,
 60,
 40,
 40,
 30,
 80,
 60,
 90,
 40,
 80,
 100,
 60,
 70,
 40,
 80]

### Exercise 15.f

Standardize the grades in `grades` by subtracting the mean and dividing by the sample standard deviation, and assign the list of standardized grades to the variable `grades_standard`.

> **Hint:** Recall the definition of a <i>standardization</i> from the EDA lecture. Try using list comprehension.

In [100]:
#// BEGIN_TODO [PRE_15f] Standardize the grades (2 point)

grades_standard = [(grade - mean_grades) / std_grades for grade in grades]

#// END_TODO [PRE_15f]

grades_standard

[0.3913938866239534,
 -1.2597990725708499,
 -1.2597990725708499,
 -1.2597990725708499,
 0.9417915396888878,
 -0.15900376644098096,
 -0.15900376644098096,
 -0.15900376644098096,
 -0.7094014195059154,
 0.9417915396888878,
 -1.2597990725708499,
 -0.7094014195059154,
 -0.7094014195059154,
 0.3913938866239534,
 -0.15900376644098096,
 0.3913938866239534,
 -1.2597990725708499,
 0.3913938866239534,
 0.3913938866239534,
 0.3913938866239534,
 1.4921891927538222,
 0.9417915396888878,
 2.042586845818757,
 -0.15900376644098096,
 -1.2597990725708499,
 0.3913938866239534,
 0.9417915396888878,
 -0.7094014195059154,
 1.4921891927538222,
 -0.15900376644098096,
 0.3913938866239534,
 -0.15900376644098096,
 -1.2597990725708499,
 -1.2597990725708499,
 -1.8101967256357843,
 0.9417915396888878,
 -0.15900376644098096,
 1.4921891927538222,
 -1.2597990725708499,
 0.9417915396888878,
 2.042586845818757,
 -0.15900376644098096,
 0.3913938866239534,
 -1.2597990725708499,
 0.9417915396888878]

# Feedback

Please fill in this questionaire to help us improve this course for the next year. Your feedback will be anonymized and will not affect your grade in any way!

### How many hours did you spend on these Exercises?

Assign a number to `feedback_time`.

In [101]:
#// BEGIN_FEEDBACK [Feedback_1] (0 point)

feedback_time = 10

#// END_FEEDBACK [Feedback_1] (0 point)

import numbers
assert isinstance(feedback_time, numbers.Number), "Please assign a number to feedback_time"
feedback_time

10

### How difficult did you find these Exercises?

Assign an integer to `feedback_difficulty`, on a scale 0 - 10, with 0 being very easy, 5 being just right, and 10 being very difficult.

In [102]:
#// BEGIN_FEEDBACK [Feedback_2] (0 point)

feedback_difficulty = 6

#// END_FEEDBACK [Feedback_2] (0 point)

import numbers
assert isinstance(feedback_difficulty, numbers.Number), "Please assign a number to feedback_difficulty"
feedback_difficulty

6

### (Optional) What did you like?

Assign a string to `feedback_like`.

In [103]:
#// BEGIN_FEEDBACK [Feedback_3] (0 point)

feedback_like = "Educational, a lot of new conepts learnt"

#// END_FEEDBACK [Feedback_3] (0 point)

### (Optional) What can be improved?

Assign a string to `feedback_improve`. Please be specific, so that we can act on your feedback. For example, mention the specific exercises and what was unclear.

In [104]:
#// BEGIN_FEEDBACK [Feedback_4] (0 point)

feedback_dislike = "A bit too long"

#// END_FEEDBACK [Feedback_4] (0 point)




## How to Submit Your Work

1. **Before submitting**, you must run your notebook by doing **Kernel > Restart & Run All**.  
   Make sure that your notebook runs without errors **in linear order**.
1. Remember to rename the notebook, replacing `...-template.ipynb` with `...-yourIDnr.ipynb`, where `yourIDnr` is your TU/e identification number.
1. Submit the executed notebook with your work
   for the appropriate assignment in **Canvas**.
1. In the **Momotor** tab in Canvas,
  you can select that assignment again to find some feedback on your submitted work.
  If there are any problems reported by _Momotor_,
  then you need to fix those,
  and **resubmit the fixed notebook**.

In case of a high workload on our server
(because many students submit close to the deadline),
it may take longer to receive the feedback.

---

In [105]:
# List all defined names
%whos

Variable              Type      Data/Info
-----------------------------------------
AUTHOR_DATE           str       2023-02-05
AUTHOR_ID_NR          str       1819283
AUTHOR_NAME           str       Daniel Tyukov
a                     int       0
age                   dict      n=6
animal_list           list      n=4
b                     int       0
c                     int       3
circle_area           float     50.2654816
count                 dict      n=8
discriminant          int       16
divisible_by_7        list      n=2
f_count               int       10
feedback_difficulty   int       6
feedback_dislike      str       A bit too long
feedback_like         str       Educational, a lot of new conepts learnt
feedback_time         int       10
grades                list      n=45
grades_percent        list      n=45
grades_standard       list      n=45
l                     list      n=4
letter                str
m                     list      n=3
matrix                list      n=3
mean_grades           float     6.288888888888889
mode_grades           int       4
msg                   str       num2 is larger than num1
num1                  int       5
num2                  int       7
number                int       17711
number_list           list      n=10
numbers               module    <module 'numbers' from 'c<...>conda3\\lib\\numbers.py'>
pi                    float     3.1415926
r                     int       4
randrange             method    <bound method Random.rand<...>t at 0x0000026D40E06780>>
s                     str       Data Analytics
seq                   list      n=5
std_grades            float     1.8168682123396023
sum_so_far            int       78
t                     list      n=3
text                  str       \n       The mystery of t<...>ragment of text?\n
v                     list      n=4
x                     list      n=3
x_1                   float     1.0
x_2                   float     -3.0
y                     list      n=4